NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:1234567890@localhost:5432/code4ever


PLATFORM_PANEL_ADMIN_ID=""

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secret
AUTH_SECRET=secret
AUTH_ISSUER=c4e
AUTH_AUDIENCE=c4e-users

WS_HOST=127.0.0.1
WS_PORT=3002
WS_PATH=/ws
RELAY_INTERNAL_URL=http://127.0.0.1:3000
RELAY_INTERNAL_SECRET=replace-with-strong-relay-secret-min-32-chars

# Federasyon Sistemi İçindir (Federasyon Sistemi Şimdilik Yok)
MAIN_SERVER_BADGE_API_URL=https://mainserver.c4e.com/api

SMTP_HOST=mail.lanuxmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@lanux.com  
SMTP_PASS=1234567890
SMTP_FROM="Code4Ever <no-reply@lanux.com>"

# Test Aşamasındadır!
JUBBIO_CLIENT_ID=""
JUBBIO_CLIENT_SECRET=""
JUBBIO_REDIRECT_URI="http://localhost:3000/api/auth/jubbio/callback"